<div class="mastfoot app-footer" id="emptyfooter">
  <div class="inner">
    <h4>No Footer navigation has been added - <li><%= link_to t('websites.show.add_footer'), new_website_navbar_path(@website, locale:I18n.locale)%></li> </h4>
  </div>
</div>
