<div class="mastfoot app-footer" id="footer">
  <div class="inner">
    <%= footer_nav(@website) %>
    <li><%= link_to t('websites.show.edit_nav'), edit_website_navbar_path(@website, @website.footer, locale:I18n.locale), class:"nav-link"%></li>
  </div>
</div>
