
<p>
  <strong>Title:</strong>
  <%= @navbar.title %>
</p>

<p>
  <strong>Style:</strong>
  <%= @navbar.style %>
</p>



<%= link_to fa_icon('edit 2x'), edit_website_navbar_path(@website,@navbar, locale:I18n.locale) %> |
<%= link_to fa_icon('arrow-circle-left 2x'), website_navbars_path(@website, locale:I18n.locale) %>
